.container {
    position: relative;
    padding: 12px;
    width: 90%;
    margin: 0 auto;
}

.leftColumn {
    width: 100%;
    float: left;
}

.rightColumn {
    width: 100%;
    float: left;
}

/* Table div styles */

#table_div  {
    position: relative;
    padding: 12px;
    width: 90%;
    margin: 0 auto;
}

.header{
    border-top: solid 2px lightgray;
    border-bottom: solid 2px lightgray;
    width: 100%;
    height: 55px;
    overflow: hidden;
}

.headerCell {
    /*position: absolute;*/
    /*border: 2px black solid;*/
    padding: 0 1.5%;
    float: left;
}

.headerCell0 {
    padding-left: 20.5%;
    width: 12%;
}

.headerCell1 {
    width: 14%;
}

.headerCell2 {
    width: 20%;
    padding-left: 1%;
    text-align: center;
}

.headerCell3 {
    width: 20%;
    padding-left: 1%;
    text-align: center;
}

.tableRow {
    width: 100%;
    border-top: 2px black solid;
    height: 35px;
    overflow: hidden;
}

.level0{
    background-color: linen;
}

.level1{
    background-color: lavenderblush;
}

.level2{
    background-color: papayawhip;
}

.level3{
    background-color: palegoldenrod;
}

.tableCell{
    position: absolute;
    float: left;
    padding: 0 1.5%;
    /*border: 2px solid black;*/
}

.tableCell0{
    width: 23%;
}

.tableCell1 {
    width: 5.3%;
}

.tableCell2 {
    width: 15%;
}

.tableCell3 {
    width: 20%;
    text-align: center;
}

.tableCell4 {
    width: 20%;
    text-align: center;
}

.movieCell0 {
    width: 32%;
    padding-left: 1%;
}

.tableBody {
    width: 100%;
    position: relative;
    height: auto;
    max-height: 1000px;
    overflow-y: auto;
}

.movieRow {
    font-weight: bold;
}

.box { /* For box plot */
    padding-left: 2px;
}

.sortOptionSVG {
    height: 50px;
    width: 100%;
}

.sortOptionGroup {
    float: left;
}

.sortOptionRect {
    height: 40px;
    fill: khaki;
    opacity: 0.5;
}

.activeFilter > rect {
    fill: steelblue;
}

.textFilter {
    text-anchor:start;
    font-size: 90%;
}

.moving {
    fill: lightblue;
}

.buttonDiv {
    height:40px;
    padding: 10px;
}

.sortButton {
    height: 40px;
    width: 70px;
    fill: linen;
}

.textButton {
    text-anchor:start;
}

#starSvg {
    width: 100px;
    height:40px;
}

/* Information div styles */

#information_div {
    height: 100%;
    position: relative;
}

.infoContainerDiv {
    width: 60%;
    float: left;
}

.infoDiv {
    width: 100%;
    clear: left;;
}

.titleDiv {
    padding: 10px 10px 20px 4px;
}

#titleInfo {
    font-size: 2em;
    font-style: italic;
}

.ratingInfoDiv .title {
}

.statueDiv {
    padding: 5px;
}

text#awardsInfo {
    display: inline-block;
    vertical-align: top;
}

span#academyInfo {
    padding-left: 100px;
}

.title {
    float: left;
    width: 20%;
    text-align: right;
    padding: 0 20px 2px;
}

.title text {
    font-size: 1.2em;
    font-style: italic;
}

.info {
    float: left;
    width: 70%;
}

.info text {
    font-size: 1.1em;
}

.posterDiv {
    float: left;
}

#ratingStarSvg {
    width: 200px;
    height: 40px;
}

/* Graph Styles */

#graph_div {
    height: 150px;
}

.content {
    display: inline-block;
    width: 100%;
}

.links {
    fill : none;
    stroke:#000;
    stroke-width:0.2px;

}

.nodes {
    r:5;
    font-size:12px;
}

.artist {
    fill:#000;
}

.movie {
    fill:#f00;
}

.selectedMovie {
    fill: #0f0;
}

.genre {
    fill: #000;
}

/* Map Styles */


#map_filter_div {
    height: 500px;
}

/* rating-genre styles */

#rating_genre_filter_div {
    height:600px;
}

/* year filter styles*/

#year_filter_div {
    height: 100px;
}


/*SIDEBAR STYLES*/

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    /*width: 50%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #fff; /* WHite*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

}