.container {
    position: relative;
    padding: 12px;
    width: 90%;
    margin: 0 auto;
}

.leftColumn {
    width: 100%;
    float: left;
}

.rightColumn {
    width: 100%;
    float: left;
}

/* Table div styles */

#table_div  {
    position: relative;
    padding: 12px;
    width: 90%;
    margin: 0 auto;
}

.level0{
    background-color: linen;
}

.level1{
    background-color: lavenderblush;
}

.level2{
    background-color: papayawhip;
}

.level3{
    background-color: palegoldenrod;
}

.header{
    border-top: solid 2px lightgray;
    border-bottom: solid 2px lightgray;
    width: 100%;
    border-top: 2px black solid;
    height: 55px;
    overflow: hidden;
}

.tableRow {
    width: 100%;
    border-top: 2px black solid;
    height: 35px;
    overflow: hidden;
}

.tableCell{
    position: absolute;
    width: 60px;
    padding: 0 5px;
}

.tableCell1 { /* Test */
    position: absolute;
    width: 150px;
    padding: 0 5px;
}

.tableCell2 { /* Test */
    position: absolute;
    width: 90px;
    padding: 0 5px;
}

.tableCell3 { /* Test */
    position: absolute;
    width: 60px;
    padding: 0 5px;
}

.tableBody {
    width: 100%;
    position: relative;
    height: auto;
    max-height: 1000px;
    overflow-y: auto;
}

.expand {
    /*background-color: floralwhite;*/
}

.movieRow {
    font-weight: bold;
}

.box {
    padding-left: 2px;
}

.sortOptionSvg {
    height: 50px;
    width: 330px; /* 3 * (filters + padding) */
}

.sortOption {
    height: 40px;
    width: 100px;
    fill: blanchedalmond;
}

.textFilter {
    text-anchor:start;
}

.active {
    fill: lightblue;
}

.buttonDiv {
    height:40px;
    padding: 10px;
}

.button {
    height: 40px;
    width: 70px;
    fill: linen;
}

.textButton {
    text-anchor:start;
}

/* Information div styles */

#information_div {
    height: 100%;
    position: relative;
}

/* Stars */
#starSvg {
    width: 100px;
    height:40px;
}

/* Graph Styles */

#graph_div {
    height: 150px;
}

.content {
    display: inline-block;
    width: 100%;
}

.links {
    stroke:#000;
    stroke-width:0.2px;
}

.nodes {
    r:5;
    font-size:12px;
}

.artist {
    fill:#000;
}

.movie {
    fill:#f00;
}

.selectedMovie {
    fill: #0f0;
}

/* Map Styles */


#map_filter_div {
    height: 900px;
}

/* rating-genre styles */

#rating_genre_filter_div {
    height:600px;
}

/* year filter styles*/

#year_filter_div {
    height: 100px;
}


/*SIDEBAR STYLES*/

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 100%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #fff; /* WHite*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}